<div class="row">
  <div class="col-8">
    <ng-container *ngFor="let item of items$ | async">
      <jl-selectable-items [item]="item"
      (addToCart)="addNewItemToCart($event)"
      (increment)="increaseQty($event)"
      (decrement)="decreaseQty($event)"
      ></jl-selectable-items>
    </ng-container>
  </div>
  <div class="col-4">
    <jl-cart-items [items]="cartItems$ | async"></jl-cart-items>
  </div>
  <!-- <pre>
  {{ items$ | async | json}}
</pre> -->
<!-- <pre>
  {{ cartItems$ | async | json}}
</pre> -->
</div>
